@media screen and (max-width: 767px) {
  body {
    background-image: url("../Assets/home/background-home-mobile.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text_home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .text_home h1 {
    color: #fff;
    font-family: "Bellefair";
    font-size: 80px;
    font-weight: 100;
    margin: 0;
  }
  .intro_home {
    display: flex;
    font-size: 16px;
    color: #d0d6f9;
    font-family: "Barlow Condensed", "sans-serif";
    letter-spacing: 0.2rem;
  }
  .description_home {
    padding: 15px;
    color: #d0d6f9;
    font-family: "Barlow";
    text-align: center;
    text-align-last: center;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 25px;
  }
  .explore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
  .explore p {
    font-family: "Bellefair", "sans-serif";
    font-size: 25px;
    color: #0b0d17;
    text-shadow: 1px 1px 1px black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-image: url("../Assets/home/background-home-tablet.jpg");
   background-attachment: fixed;
   background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text_home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .text_home h1 {
    color: #fff;
    font-family: "Bellefair";
    font-size: 150px;
    font-weight: 100;
    margin: 25px;
  }
  .intro_home {
    display: flex;
    font-size: 24px;
    color: #d0d6f9;
    font-family: "Barlow Condensed", "sans-serif";
    letter-spacing: 0.2rem;
    margin: 15px;
  }
  .description_home {
    padding: 15px;
    color: #d0d6f9;
    font-family: "Barlow";
    text-align: center;
    text-align-last: center;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0;
  }
  .explore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 242px;
    height: 242px;
    margin: 80px;
  }
  .explore p {
    font-family: "Bellefair", "sans-serif";
    font-size: 25px;
    color: #0b0d17;
    text-shadow: 1px 1px 1px black;
  }
}

@media screen and (min-width: 1024px) {
 body{
    background-image: url("../Assets/home/background-home-desktop.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15%;
    right: 15%;
    left: 15%;
  }
  .text_home {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
  }
  .text_home h1 {
    color: #fff;
    font-family: "Bellefair";
    font-size: 150px;
    font-weight: 100;
    margin: 25px;
  }
  .intro_home {
    display: flex;
    font-size: 28px;
    color: #d0d6f9;
    font-family: "Barlow Condensed", "sans-serif";
    letter-spacing: 0.2rem;
    margin: 15px;
  }
  .description_home {
    padding: 15px;
    color: #d0d6f9;
    font-family: "Barlow";
    text-align: center;
    text-align-last: center;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0;
  }
  .explore {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 242px;
    height: 242px;
    position: absolute;
    
  }
  .explore p {
    font-family: "Bellefair", "sans-serif";
    font-size: 25px;
    color: #0b0d17;
    text-shadow: 1px 1px 1px black;
  }

.exp {
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    left: 85%;
    
    width: 300px;
    height: 300px;
    border-radius: 50%
}
.exp:hover {
    background-color: #6b6b6bab;
    transition: all 1s ease;
}
}
