@media screen and (max-width: 767px) {
  .destination {
    background-image: url("../Assets/destination/background-destination-mobile.jpg");

    background-attachment: fixed;
    background-size: cover;
  }

  .destination_container_intro {
    display: flex;
    justify-content: center;

    color: white;
    font-family: "Barlow Condensed";
  }
  .destination_container_intro p {
    margin: 4px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .destination {
    background-image: url("../Assets/destination/background-destination-tablet.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  .destination_container_intro {
    color: white;
    font-family: "Barlow Condensed";
    padding: 15px;
    display: flex;
  }
  .destination_container_intro p {
    margin: 4px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .destination {
    background-image: url("../Assets/destination/background-destination-desktop.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  .destination_container_intro {
    color: white;
    font-family: "Barlow Condensed";
    padding: 15px;
    display: flex;
  }
  .destination_container_intro p {
    margin-left: 54px;
    font-size: 25px;
  }
}
