@media screen and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header img {
    padding: 20px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }

  .navbar {
    position: relative;
    color: white;
    background-color: #97979721;
    height: auto;
  }
  .icn {
    display: block;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
  }
  .li_num {
    margin-right: 5px;
  }
  .li_text {
    margin-right: 10px;
    font-weight: 100;
  }
  .navbar li {
    font-weight: bold;
    list-style: none;
    color: white;
    font-family: "Barlow Condensed";
    font-size: 17px;
  }

  Link :active ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
  li :active ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header img {
    padding: 20px;
  }
  .logo {
    width: 48px;
    height: 48px;
  }

  .navbar {
    position: relative;
    color: white;
    background-color: #97979721;
  }
  .navbar ul {
    display: flex;
  }
  .li_num {
    margin-right: 5px;
  }
  .li_text {
    margin-right: 10px;
    font-weight: 100;
  }
  .navbar li {
    font-weight: bold;
    list-style: none;
    color: white;

    font-family: "Barlow Condensed";
    font-size: 17px;
  }
  Link,
  :active,
  ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
  li :active ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }

  .logo {
    width: 48px;
    height: 48px;
    margin-left: 25px;
  }

  .header .line {
    height: 1px;
    background-color: #6b6b6bab;
    width: 800px;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background-color: #38383880;
    backdrop-filter: blur(10px);
    width: 830px;
  }

  .navbar ul {
    display: flex;
  }
  .navbar li {
    list-style: none;
    font-family: "Barlow Condensed";
    font-size: 17px;
    margin: 15px;
    color: white;
  }
  .navbar .li_text {
    font-weight: 100;
    cursor: pointer;
    margin-left: -8px;
    margin-right: 55px;
  }
  .li_num {
    font-weight: bold;
  }

  Link li :active ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
  li :active ::before,
  :visited {
    color: white;
    text-decoration: none;
  }
}
